@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400;700&family=Uncial+Antiqua&display=swap');


.dating-app {
  font-family: Arial, sans-serif;
  background-color: #14161c;
  color: #ffffff;
  padding: 20px;
  
}

.add-profile {
  margin-bottom: 20px;

}

.Font {
  font-family: 'Cinzel', serif;
}



/* Add background colors for each zodiac sign */
.profile-card.aries {
  
  background-color: #FF5733; /* Aries */
}

.profile-card.taurus {
  background-color: #D4AC0D; /* Taurus */
}

.profile-card.gemini {
  background-color: #A569BD; /* Gemini */
}

.profile-card.cancer {
  background-color: #5DADE2; /* Cancer */
}

.profile-card.leo {
  background-color: #F39C12; /* Leo */
}

.profile-card.virgo {
  background-color: #27AE60; /* Virgo */
}

.profile-card.libra {
  background-color: #85C1E9; /* Libra */
}

.profile-card.scorpio {
  background-color: #C0392B; /* Scorpio */
}

.profile-card.sagittarius {
  background-color: #E59866; /* Sagittarius */
}

.profile-card.capricorn {
  background-color: #7DCEA0; /* Capricorn */
}

.profile-card.aquarius {
  background-color: #3498DB; /* Aquarius */
}

.profile-card.pisces {
  background-color: #5D6D7E; /* Pisces */
}


button {
  background-color: #8c2bbf;
  color: #ffffff;
  border: none;
  padding: 10px 20px;
  margin: 5px;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #6a0dad;
}

input[type="text"],
input[type="number"],
select {
  padding: 10px;
  margin: 5px;
  border: 1px solid #6a0dad;
  border-radius: 5px;
  color: #000000;
}

